# Ignore Play! working directory #
bin/
/db
.eclipse
.project
/.settings/
.classpath
.cache-main
.cache-tests
/.idea/
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
*.sc
/conf/production.conf
/dist/
.cache
