# Ignore Play! working directory #
bin/
/db
.eclipse
.project
/.settings/
.classpath
.cache-main
.cache-tests
/.idea/
/lib/
/logs/
/modules
/project/project
/project/target
/public/img
/client
/target
tmp/
test-result
server.pid
*.eml
*.sc
/localConfigs/*
/conf/production.conf
/conf/integration.conf
/conf/testExt.conf
/conf/testEnv.conf
/dist/
.cache
.DS_Store
